body {
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, Verdana, sans-serif;
}
.overscroll {
  width: 320px;
  height: 240px;
  overflow: scroll;
  display: inline-block;
  position: relative;
}
.overscroll .content {
  height: 50vw;
  width: 50vw;
}
.overscroll.classic-mono-scrollbars,
.overscroll.classic-colour-scrollbars {
  font-family: Times, serif;
  -webkit-font-smoothing: none;
}

@import './classic-colour';
@import './classic-mono';
@import './platinum';